astroid @ file:///C:/ci/astroid_1592487315634/work
certifi==2020.6.20
colorama==0.4.3
cycler==0.10.0
isort @ file:///C:/ci/isort_1602258741114/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib @ file:///C:/ci/matplotlib-base_1597876438601/work
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1596215850360/work
olefile==0.46
pandas @ file:///C:/ci/pandas_1602083338010/work
Pillow @ file:///C:/ci/pillow_1594298230227/work
pylint @ file:///C:/ci/pylint_1598617153160/work
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
sip==4.19.13
six==1.15.0
speedtest-cli==2.1.2
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado==6.0.4
wincertstore==0.2
wrapt==1.11.2
